#meetings{
    /* border: 5px solid black; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#meetings .head{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content-mt{
    padding: 20px;
}
.content-mt .item{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #aaa;
    font-size: 20px;
    font-weight: 500;
}
.content-mt .item:last-child {
    border:none;
}